@import '../../assets/mixins.less';
@import '../../assets/palette.less';

.pageWrapper {
    .pageWrapper;
}

.pageContainer {
    .pageContainer;

    padding-top: 40px;
}

.productsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fab {
    .fab;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationPage {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    &:hover {
        cursor: pointer;
    }

    a {
        color: @text-color;
    }
}

.paginationActivePage {
    background: @primary-color-2;

    a {
        color: #fff;
    }
}

.paginationPrev, .paginationNext {
    display: none;
}

.emptyMessageHeader {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
}

.emptyMessageSubHeader {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: normal;
}

.emphasis {
    color: @primary-color-1;
}
