@import '../assets/palette.less';

.paper {
    width: 400px;
    min-height: 300px;
    margin-bottom: 40px;
    padding-bottom: 15px;
}

.miniPaper {
    max-width: 250px;
    width: 250px;
    height: 200px;
    margin-bottom: 40px;
}

.header {
    background-color: @primary-color-1;
    color: #fff;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    padding: 10px;
    text-align: center;
}

.exploreBtn {
    margin: 25px auto 0 !important;
    display: block !important;
}

.date {
    color: @primary-color-3;
}

.subHeader {
    color: @accent-color;
    font-size: 16px;
    margin: 20px 0 10px;
}

.fab {
    position: absolute !important;
    right: 50px;
    bottom: -25px;
}
