@primary-color-1 : #ffc107;
@primary-color-2 : #fea000;
@accent-color    : #8bc34a;

@text-color           : rgba(0,0,0,0.87);
@secondary-text-color : rgba(0,0,0,0.54);
@hint-text-color      : rgba(0,0,0,0.26);
@divider-color        : rgba(0,0,0,0.08);
@background-color     : #f5f5f5;
